<% form_tag search_path, :class => "yform" do %>
  <%# f.error_messages %>
  <fieldset>
    <!-- <legend>Place</legend> -->
    <div class="subcl type-text">
      <label for="place">Place</label>
      <input type="text" name="place" id="place" size="20" />
    </div>
  </fieldset>
  
  <div class="type-button">
    <input type="submit" name="button1" id="button1" value="Search"/>
  </div>
<% end %>
